body {
    margin: 0;
}

.carousel {
    max-width: 500px;
    margin: 2rem auto;
    /* padding: 0 1rem; */
    box-shadow: 5px 5px 5px darkgray;
}

img{
    border-radius: 5px;
}

.innerText {
  margin-top: 10px;
}

.carousel-item p {
  font-size: 1rem;
  color: #f8f7f7;
}